/* HTML */

body {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}
h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,h6:focus {
  outline: solid;
}
a:focus {
  outline: solid;
}
blockquote {
  border-left: 0.4rem solid black;
  padding: 1.5rem;
}
main,
footer {
  margin: 0 auto;
  max-width: 72rem;
}

/* CUSTOM */

.project-list {
  list-style-type: none;
  padding: 0;
}
.project-list > li {
  margin: 4rem 3rem;
}
.project-list h3 {
  margin-bottom: 0.5rem;
}
.project-list p {
  margin-top: 0;
}
.project-list--tags {
  list-style-type: none;
  padding: 0;
}
.project-list--tags li {
  background-color: black;
  color: white;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;
  }
  body {
    background-color: black;
    color: white;
  }
  blockquote {
    border-color: white;
  }
  .project-list--tags li {
    background-color: white;
    color: black;
  }
}